@model DemoBookApp.Models.BookModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create New Book Record</h1>

<hr />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5> Add New Book</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Title" class="control-label">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Edition" class="control-label">Edition </label>
                        <input asp-for="Edition" class="form-control" />
                        <span asp-validation-for="Edition" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="control-label">Price </label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="dateOfPublishing" class="control-label">Date of Publsihing </label>
                        <input asp-for="dateOfPublishing" class="form-control" />
                        <span asp-validation-for="dateOfPublishing" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="AuthorID" class="control-label">Author</label>
                        <select asp-for="AuthorID" class="form-control" asp-items="ViewBag.AuthorID"></select>
                    </div>
                    <div class="mb-3">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>

<div>

    <h6>Don't see your desired Author? Add Author</h6>
    <a asp-controller="Author" asp-action="Index">Add New Author </a> &nbsp &nbsp
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

